/* HERO SECTION */
.hero-section{
  max-width: 1920px;
  margin-inline: auto;
}
.hero-container{
  background-image: url(../assets/home-hero-final.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 768px;
  align-items: center;
}
.hero-image-container{
  min-width: 355px;
  max-width: 720px;
}
.hero-heading-container{
  font-family: 'Manrope';
  line-height: 1.3;
  width: 100%;
  text-align: right;
  padding-right: 70px;
  min-width: 520px;
  margin-top: -100px;
}
#hero-heading{
  font-size: 40px;
  font-weight: 800;
  color: #2E2A2A;
}
#home-hero-button{
  background-color: #229495;
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: 0.6s;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  width: 200px;
  margin-right: 10px;
}
#home-hero-button2{
  background-color:transparent;
  padding: 7px;
  border: solid #2e2a2a;
  border-radius: 20px;
  transition: 0.6s;
  font-size: 18px;
  text-decoration: none;
  color: #2e2a2a;
  font-weight: 800;
  font-size: 18px;
  width: 200px;
}
#home-hero-button:hover{
  background-color: #952322;
}
#home-hero-button2:hover{
  border: solid #952322;
  background-color: #952322;
  color: white;
}
#home-hero-img{
  display: none;
}
.fa-paw{
  margin-left: 3px;
  color: #952322;
  transform: rotate(40deg);
}

@media screen and (max-width: 768px) {
  .hero-container{
    background-image: url(../assets/home-hero-final2-bg.png);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .hero-heading-container{
    display: flex;
    flex-direction: column;
    font-family: 'Manrope';
    line-height: 1.3;
    width: 100%;
    text-align: center;
    margin-inline: auto;
    padding-inline: 20px;
    padding-bottom: 30px;
    min-width: 300px;
  }
  #hero-heading{
    font-size: 26px;
    font-weight: 800;
    color: #2E2A2A;
  }
  #home-hero-button{
    margin-block: 8px;
    margin-right: 0;
  }
  #home-hero-img{
    display: block;
    width: 80%;
    margin-inline: auto;
  }
}
@media screen and (max-width: 525px) {
  .hero-heading-container{
   margin-top: -40px;
  }
  #hero-button{
    width: 250px;
    padding-block: 5px;
  }
}
/* END OF HERO SECTION */

/* PRODUCT SECTION */
.products-hero-section{
  height: 100%;
  max-width: 1920px;
  margin-inline: auto;
  font-family: 'Manrope';
  padding: 50px 30px;
  background-color: #E9E9E9;
}
.products-hero-container{
  height: 100%;
  margin-inline: auto;
  width: 95%;
  display: flex;
  align-items: center;
}
#products-in-box{
  width: 65%;
  margin-inline: 30px;
}
.products-hero-container h3{
  font-weight: 800;
  font-size: 40px;
  color: #2E2A2A;
}
.products-hero-headings{
  text-align: right;
}
#products-button{
  background-color: #229495;
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: 0.6s;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  width: 200px;
}
#products-button:hover{
  background-color: #952322;
}
.fa-arrow-left-long{
  margin-right: 3px;
}
@media screen and (max-width: 768px) {

  .products-hero-container h3{
    font-size: 32px;
  }
  .products-hero-headings p{
    width: 100%;
  }
  .products-hero-container{
    width: 100%;
  }
}
@media screen and (max-width: 525px) {
  .products-hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  .products-hero-headings{
    justify-content: center;
    text-align: center;
    justify-content: center;
  }
  #products-in-box{
    width: 80%;
    margin-bottom: 30px;
  }
  .products-hero-img{
    display: flex;
    justify-content: center;
  }
}


/* END OF PRODUCT SECTION */
/* START OF FAQS SECTION */
.faqs-section{
  height: 700px;
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 50%,
    #952322 50%,
    #952322 100%
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faqs-header{
  text-align: center;
  color: #952322;
  font-family: 'Manrope';
  font-weight: 800;
}
.faqs-container{
  margin-top: 50px;
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.faqs-container .faqs-card {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.faqs-container .faqs-card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
  border-radius: 20px;
}
.faqs-container .faqs-card .face.face1{
  position:relative;
  background: #229495;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.faqs-container .faqs-card:hover .face.face1{
  background: #952322;
  transform: translateY(0px);
  border-radius: 20px 20px 0px 0px;
}
.faqs-container .faqs-card .face.face1 .faqs-content{
  opacity: 1;
  transition: 0.5s;
}
.faqs-container .faqs-card:hover .face.face1 .faqs-content{
  opacity: 1;
}
.faqs-container .faqs-card .face.face1 .faqs-content img{
  max-width: 100px;
}
.faqs-container .faqs-card .face.face1 .faqs-content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.faqs-container .faqs-card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  transform: translateY(-100px);
}
.faqs-container .faqs-card:hover .face.face2{
  transform: translateY(0px);
  border-radius: 0px 0px 20px 20px;
}
.faqs-container .faqs-card .face.face2 content p {
  margin: 0;
  padding: 0;
}
.faqs-container .faqs-card .face.face2 .faqs-content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}
.faqs-container .faqs-card .face.face2 .faqs-content a:hover {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  #faqs-header{
    text-align: center;
    color: #952322;
  }
  .faqs-section{
    height: 900px;
    background: #E9E9E9;
  }
  #faqs-header{
    margin-bottom: 80px;
  }
  .faqs-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    gap: 30px;
  }
  .faqs-container .faqs-card .face.face1{
    position:absolute;
    background: #229495;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateX(0px);
  }
  .faqs-container .faqs-card:hover .face.face1{
    transform: translateX(150px);
    border-radius: 0px 20px 20px 0px;
  }
  .faqs-container .faqs-card .face.face2 {
    transform: translateX(0px);
  }
  .faqs-container .faqs-card:hover .face.face2{
    transform: translateX(-150px);
    border-radius: 20px 0px 0px 20px;
  }
}
@media screen and (max-width: 625px) {
  .faqs-section{
    height: 1300px;
    padding-top: 0px;
  }
  #faqs-header{
    margin-bottom: 130px;
  }
  .faqs-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    gap: 150px;
  }
  .faqs-container .faqs-card .face.face1{
    position:absolute;
    background: #229495;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(0px);
  }
  .faqs-container .faqs-card:hover .face.face1{
    transform: translateY(-100px);
    border-radius: 20px 20px 0px 0px;
  }
  .faqs-container .faqs-card .face.face2 {
    transform: translateY(0px);
  }
  .faqs-container .faqs-card:hover .face.face2{
    transform: translateY(100px);
    border-radius: 0px 0px 20px 20px;
  }
}
/* END OF FAQS SECTION */

/* START OF TESTIMONY SECTION */
.testimony-section{
  background-color: #E9E9E9;
  margin-inline: auto;
}
.testimony-header-container{
  padding: 40px 100px;
  text-align: center;
}
.testimony-header-container h2{
  color: #2E2A2A;
  font-family: 'Manrope';
  font-weight: 600;
}
.testimonies-container{
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1440px;
  margin-inline: auto;
}
.img-name-star-container img{
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid #2E2A2A;
}
.img-name-star-container{
  display: flex;
  max-height: 50px;
}
.name-star-container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.star-container{
  margin-top: -15px;
  color: orange;
}
.review-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  min-width: 450px;
  border-radius: 15px;
  padding: 10px;
  background-color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .review-container{
    min-width: 350px;
  }
}
@media screen and (max-width: 525px) {
  .review-container{
    min-width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .testimony-header-container{
    padding: 30px 10px;
  }
}
/* END OF TESTIMONY SECTION */