/* START OF CHOOSE PAYMENT OPTION SECTION */
#gcash-navigator{
  height: 70px;
}
.choose-payment-opt-section{
  height: 100%;
  min-height: 400px;
  padding-top: 100px;
}
.payment-opt-header{
  text-align: center;
  color: #2E2A2A;
  max-width: 1280px;
  margin-inline: auto;
}
.payment-option-img{
  width: 100px;
}
.payment-option-buttons{
  border-radius: 33px;
  border: solid #2E2A2A 2px;
  padding-inline: 20px;
}
.under-maintenance{
  opacity: 0.5;
}
.payment-options-container{
  margin-block: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .payment-option-buttons{
    padding-inline: 0px;
  }
}
@media screen and (max-width: 525px) {
  .payment-opt-header{
    padding-inline: 20px;
  }
  .payment-options-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
/* END OF CHOOSE PAYMENT OPTION SECTION */

/* START OF GCASH PAYMENT OPTION SECTION */
.gcash-payment-option-section{
  height: 560px;
  background: linear-gradient(
    to bottom,
    #0057E4 0%,
    #0057E4 40%,
    #E9E9E9 40%,
    #E9E9E9 100%
  );
}
.gcash-logo-payment-option{
  display: flex;
  justify-content: center;
}
.gcash-logo-payment-option img{
  margin: 20px;
  width: 150px;
}
.gcash-payment-container{
  height: 400px;
  width: 50%;
  margin-inline: auto;
  background: linear-gradient(
    to bottom,
    #E9E9E9 0%,
    #E9E9E9 30%,
    #fff 10%,
    #fff 100%
  );
  border-radius: 20px;
}
.gcash-payment-container{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  font-family: 'DM sans';
}
.payment-info-container{
  width: 50%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}
.price-of-subscription{
  color: #0057E4;
  font-weight: 600;
}
.left-part{
  opacity: 0.8;
  font-weight: 400;
}
.right-part{
  font-weight: 400;
}
.payment-info-container2{
  width: 90%;
  margin-top: 30px;
  margin-left: 50px;
}
#login-to-pay-with-gcash{
  font-weight: 600;
  font-size: 23px;
  margin-left: 40px;
}
#Mobile-number{
  font-size: 12px;
}
.mobile-number-container{
  margin-top: 50px;
}
.gcash-number-container{
  font-size: 18px;
  display: flex;
}
.gcash-number-container p{
  border: 1px solid #999999;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-right: 5px;
}
.gcash-number-container input{
  border: 1px solid #999999;
  border-top: none;
  border-right: none;
  height: 28px;
  width: 300px;
  padding-left: 7px;
  background-color: transparent;
}
#gcash-next-button{
  background-color: #87b3f8;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 180px;
  margin-inline: auto;
  padding-block: 3px;
  border-radius: 20px;
  margin-top: 20px;
}
.gcash-register-container{
  margin-block: 10px;
  color: #646464;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .payment-info-container{
    width: 80%;
  }
  .gcash-payment-container{
    width: 80%;
  }
  .gcash-number-container input{
    width: 230px;
  }
  #login-to-pay-with-gcash{
    font-weight: 600;
    font-size: 20px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 425px) {
  .payment-info-container{
    margin-left: 30px;
    width: 80%;
  }
  .gcash-payment-container{
    width: 90%;
    padding-top: 30px;
  }
  .gcash-number-container input{
    width: 180px;
  }
  #login-to-pay-with-gcash{
    font-weight: 600;
    font-size: 18px;
    margin-left: -20px;
  }
  .gcash-number-container{
    margin-left: -20px;
  }
  .gcash-register-container{
    margin-block: 10px;
    margin-inline: 40px;
    color: #646464;
    text-align: center;
  }
}
/* END OF GCASH PAYMENT OPTION SECTION */