 header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding:20px 100px 0px 100px;
  z-index: 1000;
  font-family: 'Manrope';
  font-weight: 800;
  background-color: #952322;
}

#navbar-logo1{
  width: 180px;
  margin-top: -20px;
}

header .navbar-ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .navbar-ul .navbar-li{
  position: relative;
  list-style: none;
}
header .navbar-ul .navbar-li .navbar-a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff !important;
  font-weight: 800;
  transition: 0.2s;
}
header .navbar-logo, header .navbar-ul .navbar-li .navbar-a{
  color: #ffffff;
  transition: 0.2s;
}
header .navbar-a:hover {
  border-bottom: solid 0.25em;
  border-color: #952322;
}
header .navbar-a:hover {
  border-bottom: solid 0.25em;
  border-color: #fff;
}
.navbar-menu{
  display: none;
}

@media screen and (max-width: 980px) {
  header .navbar-ul{
    gap: 0px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  header{
    padding: 20px 20px 0 20px;
  }
  #navbar-logo1{
    padding-block: 5px;
  }
  header .navbar-ul{
    display: none;
  }
  header .navbar-menu{
    display: block;
    margin-top: -20px;
  }
  .navbar-menu i{
    font-size: 1.6rem;
    color: #ffffff;
  }
}