
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
    font-family: 'Manrope';
    font-weight: 800;
    background-color: transparent;
  }
  header.sticky{
    padding:20px 100px 10px 100px;
    background: #952322;
  }
  
  header #navbar-logo1{
    width: 200px;
    margin-top: -20px;
  }
  header #navbar-logo2{
    width: 200px;
    margin-top: -20px;
    display: none;
  }
  header.sticky #navbar-logo1{
    display: none;
    width: 200px;
    padding: 10px;
  }
  header.sticky #navbar-logo2{
    display: block;
    width: 200px;
    padding: 10px;
  }
  
  header .navbar-ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  header .navbar-ul .navbar-li{
    position: relative;
    list-style: none;
  }
  header .navbar-ul .navbar-li .navbar-a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #952322;
    letter-spacing: 2px;
    font-weight: 800;
    transition: 0.2s;
  }
  header.sticky .navbar-logo, header.sticky .navbar-ul .navbar-li .navbar-a{
    color: #ffffff;
    transition: 0.2s;
  }
  header .navbar-a:hover {
    border-bottom: solid 0.25em;
    border-color: #952322;
  }
  header.sticky .navbar-a:hover {
    border-bottom: solid 0.25em;
    border-color: #fff;
  }
  .navbar-menu{
    display: none;
  }
  
  @media screen and (max-width: 980px) {
    header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.6s;
      padding: 40px 60px;
      z-index: 1000;
      font-family: 'Manrope';
      font-weight: 800;
      background-color: transparent;
    }
    header .navbar-ul{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px;
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.6s;
      padding: 40px 60px;
      z-index: 1000;
      font-family: 'DM Sans';
      font-weight: 800;
      background-color: transparent;
    }
    header.sticky{
      padding:20px 60px 10px 60px;
      background: #952322;
    }
    
    header #navbar-logo1{
      width: 100px;
      margin-top: -20px;
    }
    header #navbar-logo2{
      width: 100px;
      margin-top: -20px;
      display: none;
    }
    header.sticky #navbar-logo1{
      display: none;
      width: 100px;
      padding: 10px;
    }
    header.sticky #navbar-logo2{
      display: block;
      width: 100px;
      padding: 10px;
    }
    header .navbar-ul{
      display: none;
    }
    header.sticky .navbar-menu i{
      font-size: 1.6rem;
      color: #fff;
    }
    header .navbar-menu{
      display: block;
      margin-top: -20px;
    }
    .navbar-menu i{
      font-size: 1.6rem;
      color: #952322;
    }
  
  }