.subscription-section{
  padding: 80px 20px;
}
.subs-header{
  text-align: center;
  font-weight: 800;
  font-family: 'Manrope';
  color: #952322;
}
.choose-pet-container{
  margin-bottom: 10px;
}
.filters-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  background-color: white;
  padding: 10px 40px 0px;
  border-radius: 5px;
  align-items: center;
}
#pet-name{
  border: none;
  margin-left: 20px;
  padding-inline: 30px;
  text-align: left;
}
.subs-filter ol{
  display: flex;
  list-style: none;
  gap: 15px;
}
.list{
  background-color: #E9E9E9;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.active-button{
  background-color: cadetblue;
  color: #FFF;
}