.clinic #clinic{
    border-bottom: solid 2px #FFF;
}
body{
    padding-top: 50px;
}
.recent-info{
    background-color: #eee;
}
a {
    text-decoration: none !important;
}
.button-container{
    background-color: #229495;
    border-radius: 5px;
    border-color: #229495;
}

.response-info{
    border-radius: 20px;
    
}

