.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-hero-btn{
  position: absolute;
}

.button1{
  top: 75%;
  width: 15%;
  left: 42.5%;
  background-color: #229495;
  color: #FFF;
  padding: 20px 20px;
  font-size: 150%;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  min-width: 100px;
}
.button1:hover{
  background-color: #952322;
}
.button2{
  top: 61%;
  width: 15%;
  min-width: 100px;
  right: 22%;
  background-color: #229495;
  border:  solid #229495;
  color: #FFF;
  padding: 10px 20px;
  font-size: 90%;
  font-weight: 600;
  border-radius: 20px;
}
.button2:hover{
  background-color: #952322;
  border: solid #952322;
}
.button3{
  top: 61%;
  width: 15%;
  min-width: 100px;
  right: 6%;
  background-color: transparent;
  color: #2E2A2A;
  padding: 10px 20px;
  font-size: 90%;
  font-weight: 600;
  border: solid #2E2A2A;
  border-radius: 20px;
}
.button3:hover{
  background-color: #952322;
  border: solid #952322;
  color: white;
}
.button4{
  top: 61%;
  width: 15%;
  min-width: 100px;
  left: 6%;
  background-color: #229495;
  color: #FFF;
  padding: 10px 20px;
  font-size: 120%;
  font-weight: 600;
  border: none;
  border-radius: 20px;
}
.button4:hover{
  background-color: #952322;
}
@media screen and (max-width: 1024px) {
  .button1{
    top: 75%;
    color: #FFF;
    padding: 10px;
    font-size: 90%;
    width: 20%;
    left: 40%;
  }
  .button2{
    padding: 5px 10px;
  }
  .button3{
    padding: 5px 10px;
  }
  .button4{
    font-size: 90%;
    padding: 5px 20px;
  }
}
@media screen and (max-width: 625px) {
  .button1{
    padding: 10px;
    font-size: 60%;
    left: 39%;
    padding: 5px;
  }
  .button2{
    font-size: 50%;
    padding: 0px 5px;
    min-width: 60px;
  }
  .button3{
    font-size: 50%;
    padding: 0px 5px;
    min-width: 60px;
  }
  .button4{
    font-size: 50%;
    padding: 2px;
  }
}
@media screen and (max-width: 425px) {
  .button1{
    padding: 5px;
    font-size: 40%;
    left: 39%;
    min-width: 70px;
  }
  .button2{
    font-size: 30%;
    min-width: 50px;
  }
  .button3{
    font-size: 30%;
    min-width: 50px;
    padding: 1px;
    border: solid 1px;
  }
  .button4{
    font-size: 50%;
    padding: 2px;
    min-width: 70px;
  }
}

/* PRODUCT SECTION */
.products-hero-section{
  height: 100%;
  max-width: 1920px;
  margin-inline: auto;
  font-family: 'Manrope';
  padding: 50px 30px;
  background-color: #E9E9E9;
}
.products-hero-container{
  height: 100%;
  margin-inline: auto;
  width: 95%;
  display: flex;
  align-items: center;
}
#products-in-box{
  width: 65%;
  margin-inline: 30px;
}
.products-hero-container h3{
  font-weight: 800;
  font-size: 40px;
  color: #2E2A2A;
}
.products-hero-headings{
  text-align: right;
}
#products-button{
  background-color: #229495;
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: 0.6s;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  width: 200px;
}
#products-button:hover{
  background-color: #952322;
}
.fa-arrow-left-long{
  margin-right: 3px;
}
@media screen and (max-width: 768px) {

  .products-hero-container h3{
    font-size: 32px;
  }
  .products-hero-headings p{
    width: 100%;
  }
  .products-hero-container{
    width: 100%;
  }
}
@media screen and (max-width: 525px) {
  .products-hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  .products-hero-headings{
    justify-content: center;
    text-align: center;
    justify-content: center;
  }
  #products-in-box{
    width: 80%;
    margin-bottom: 30px;
  }
  .products-hero-img{
    display: flex;
    justify-content: center;
  }
}

.faqs-section{
  height: 700px;
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 50%,
    #952322 50%,
    #952322 100%
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faqs-header{
  text-align: center;
  color: #952322;
  font-family: 'Manrope';
  font-weight: 800;
}
.faqs-container{
  margin-top: 50px;
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.faqs-container .faqs-card {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.faqs-container .faqs-card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
  border-radius: 20px;
}
.faqs-container .faqs-card .face.face1{
  position:relative;
  background: #229495;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.faqs-container .faqs-card:hover .face.face1{
  background: #952322;
  transform: translateY(0px);
  border-radius: 20px 20px 0px 0px;
}
.faqs-container .faqs-card .face.face1 .faqs-content{
  opacity: 1;
  transition: 0.5s;
}
.faqs-container .faqs-card:hover .face.face1 .faqs-content{
  opacity: 1;
}
.faqs-container .faqs-card .face.face1 .faqs-content img{
  max-width: 100px;
}
.faqs-container .faqs-card .face.face1 .faqs-content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.faqs-container .faqs-card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  transform: translateY(-100px);
}
.faqs-container .faqs-card:hover .face.face2{
  transform: translateY(0px);
  border-radius: 0px 0px 20px 20px;
}
.faqs-container .faqs-card .face.face2 content p {
  margin: 0;
  padding: 0;
}
.faqs-container .faqs-card .face.face2 .faqs-content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}
.faqs-container .faqs-card .face.face2 .faqs-content a:hover {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  #faqs-header{
    text-align: center;
    color: #952322;
  }
  .faqs-section{
    height: 900px;
    background: #E9E9E9;
  }
  #faqs-header{
    margin-bottom: 80px;
  }
  .faqs-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    gap: 30px;
  }
  .faqs-container .faqs-card .face.face1{
    position:absolute;
    background: #229495;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateX(0px);
  }
  .faqs-container .faqs-card:hover .face.face1{
    transform: translateX(150px);
    border-radius: 0px 20px 20px 0px;
  }
  .faqs-container .faqs-card .face.face2 {
    transform: translateX(0px);
  }
  .faqs-container .faqs-card:hover .face.face2{
    transform: translateX(-150px);
    border-radius: 20px 0px 0px 20px;
  }
}
@media screen and (max-width: 625px) {
  .faqs-section{
    height: 1300px;
    padding-top: 0px;
  }
  #faqs-header{
    margin-bottom: 130px;
  }
  .faqs-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    gap: 150px;
  }
  .faqs-container .faqs-card .face.face1{
    position:absolute;
    background: #229495;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(0px);
  }
  .faqs-container .faqs-card:hover .face.face1{
    transform: translateY(-100px);
    border-radius: 20px 20px 0px 0px;
  }
  .faqs-container .faqs-card .face.face2 {
    transform: translateY(0px);
  }
  .faqs-container .faqs-card:hover .face.face2{
    transform: translateY(100px);
    border-radius: 0px 0px 20px 20px;
  }
}

.testimony-section{
  background-color: #E9E9E9;
  margin-inline: auto;
  position: relative;
}
.testimony-header-container{
  padding: 40px 100px;
  text-align: center;
}
.testimony-header-container h2{
  color: #2E2A2A;
  font-family: 'Manrope';
  font-weight: 600;
}
.testimonies-container{
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1440px;
  margin-inline: auto;
}
.img-name-star-container img{
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid #2E2A2A;
}
.img-name-star-container{
  display: flex;
  max-height: 50px;
}
.name-star-container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.star-container{
  margin-top: -15px;
  color: orange;
}
.review-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  min-width: 450px;
  border-radius: 15px;
  padding: 10px;
  background-color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .review-container{
    min-width: 350px;
  }
}
@media screen and (max-width: 525px) {
  .review-container{
    min-width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .testimony-header-container{
    padding: 30px 10px;
  }
}
/* END OF TESTIMONY SECTION */