.login-container{
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 10px;
}

.login-form-contaniner {
    padding-top: 30px;
}
.image-login{
    padding: 30px 30px;
    background-color: #952322;
    padding-block: auto;
    height: 100%;
    position: fixed;
    right: 0;
}

.enter-details-font {
    color: gray ;
    font-size: 14px;
}
body{
    background-color:#E9E9E9;
}

.login-bg-container{
 width: 100%;
 position: relative;
 margin-block: auto;
 
}
.bot-pic-rotate {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.login-bg-container a{
    color: gray;
    text-decoration: none;
}
.login-flex-container{
    display: flex;
}
.logIn{
    margin-top: -50px;
}
.form-control{
    width: 65%;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.form-check {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}
.needs-validation{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
}
.signup-option{
    padding-left: 65px;
}
@media (max-width:768px){
    .image-login{
        display: none;
    }
    .form-control{
        width: 100%;
    }
    .needs-validation{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        padding: 0;
    }
    .login-form-contaniner {
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline: auto;
        width: 320px;
    }
    .form-control{
        margin-inline: auto;
    }
    .login-heading{
        text-align: center;
    }
    .lg-btn-container, .form-check, .signup-option{
        display: flex;
        justify-content: center;
        padding: 0;
    }
}