.login-container{
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 10px;
}
.buttonsubmit{
    text-align: center;
    background-color: #952322 !important;
    border: none;
    width: 130px;
    padding-block: 3px;
    border-radius: 20px;
    justify-content: left !important;
}
.login-form-contaniner {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.image-login{
    padding: 30px 30px;
    background-color: #952322;
    height: 100%;
    min-height: 650px;
}

.enter-details-font {
    color: gray ;
    font-size: 14px;
}
body{
    background-color:#E9E9E9;
}

.login-bg-container{
 width: 100%;
 position: relative;
 margin-block: auto;
 
}
.bot-pic-rotate {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.login-bg-container a{
    color: gray;
    text-decoration: none;
}
.login-flex-container{
    display: flex;
}
.logIn{
    margin-top: -50px;
}
.form-control{
    width: 300px;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.needs-validation{
    justify-content: center;
    align-self: center !important;
    text-align: center;
}
@media (max-width:768px){
    .image-login{
        display: none;
    }
    .form-control{
        width: 300px;
    }
}