.login-page{
    background-color: white;
    font-family: 'Dm Sans';
}
.login-container{
    display: flex;
}
.purrpicks-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.purrfectpicks-logo{
    width: 200px;
    margin: 20px 0;
}


.login-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;

}
.login-hero-container{
    text-align: center;
    background-size: 10px;
    background-color: cadetblue;
    width: 60%;
    /* border-radius: 0 20px 20px 0; */
    height:100vh;

}

.login-input-container{
    display: flex;
    flex-direction: column;
}
.login-input{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
}
.login-checkbox-label{
    margin: 15px 0 5px;
}
.login-submit-button{
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 100%;
    color: #FFF;
}
.login-submit-button:hover{
    background-color: #952322;
}
.login-checkbox{
    margin-right: 5px;
}
.image_dog {
    height: 100%;
}
@media screen and (max-width: 768px) {
    .login-hero-container{
        display: none;
    }
    .login-input{
        height: 30px;;
    }
}
@media screen and (max-width: 420px) {
    .login-input{
        height: 20px;;
    }
}