body{
    background-color: #E9E9E9;
}
.signup-page{
    padding: 0 30px 40px;
    margin-top: -20px;
    font-family: 'Dm Sans';
}
.signup-container{
    background-color: white;
    border-radius: 20px;
    display: flex;
}
.purrpicks-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.purrfectpicks-logo{
    width: 200px;
    margin: 20px 0;
}

.signup-form-container{
    width: 100%;
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-hero-container{
    background-image: url(../assets/signup-hero-img.png);
    background-size: cover;
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.signup-input-container{
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}
.signup-input{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
}
.signup-checkbox-label{
    margin: 15px 0 5px;
}
.signup-submit-button{
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 100%;
    color: #FFF;
}
.signup-submit-button:hover{
    background-color: #952322;
}
.signup-checkbox{
    margin-right: 5px;
}
@media screen and (max-width: 768px) {
    .signup-hero-container{
        display: none;
    }
    .signup-input{
        height: 30px;;
    }
}
@media screen and (max-width: 420px) {
    .signup-input{
        height: 20px;;
    }
}