.signup{

    margin-top: -60px;

}

.buttonsubmit{

    text-align: center;

    background-color: #229495 !important;

    border: none;

    border-radius:20px;

    width: 130px;

    padding-block: 3px;

}




body{

    background-color:#E9E9E9;


}




/* .image-login{

    padding: 30px 30px;

} */




.logo-container{

    height: 50px;

    justify-content: left !important;

}

.signup-image-container{








    display: flex;

    flex-direction: column;

    gap: 30px;

    justify-content: center;

    align-items: center;

}

.image-left-container{

    background-color: #229495;


}

.bottom-pic-container {

    align-items: flex-start;

    display: flex;

    justify-content: center;


}

.signup-img{
    height:100vh;
    width: 70%;
}

.sign-in-btn{

    border: solid 1px #868686 ;

    border-radius: 10px !important;

}

.sign-in-btn:hover{

    background-color: #229495;






    color: #FFF;

    border: solid 1px #229495 ;






}

@media screen and (max-width: 768px) {

    .signup-image-container, .image-left-container{

        display: none;

    }

    .row{

        display: flex;

        flex-direction: column;





    }

}

.padding_form {
    padding-left: 100px;
    padding-right: 100px;
}