.hero-subs-container{
  margin-top: 15px;
  background-image: linear-gradient(to bottom right, rgb(176, 15, 0), rgb(255, 111, 0));
  background-size: cover;
  margin-inline: auto;
  width: 100%;
  max-width: 1920px;
  height: 250px;
  border-radius: 0 0 20% 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40px 0 150px;
}
#prodSubsImg{
  height: 200px;
  position: relative;
  margin-block: auto;
}
.hero-subs-container h1{
  color: #FFF;
  font-family: 'Manrope';
  font-size: 40px;
  font-weight: 800;
  width: 600px;
  padding: 15px 0 0 50px;
}
.hero-subs-container p{
  color: #FFF;
  width: 600px;
  padding: 0 0px 10px 50px;
}
.subs-hero-texts{
  width: 600px;
  min-width: 100px;
}
@media (max-width:1152px){
  .hero-subs-container{
    padding-top: 30px;
    height: 100%;
  }
}
@media (max-width:768px){

}
@media (max-width:560px){
  .hero-subs-container{
     padding-inline: 20px;
  }
  .hero-subs-container h1{
     text-align: center;
     font-size: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-inline: 0;
     padding: 20px 0 5px;
  }
  .hero-prods-container p{
     padding: 0;
     margin-inline: 0;
     width: 100%;
     text-align: center;
  }
  .prods-hero-texts{
     width: 100%;
     min-width: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
  }
  #prodHeroImg{
     width: 25%;
     position: relative;
     min-width: 280px;
     min-height: 171px;
     margin-top: 0px;
     margin-bottom: -66.7px;
  }
}

.subs #subs{
  border-bottom: solid 2px #FFF;
}
.subscription-section{
  padding: 0 20px 20px 20px;
}
.subs-header{
  text-align: center;
  font-weight: 800;
  font-family: 'Manrope';
  color: #952322;
}
.choose-pet-container{
  margin-bottom: 10px;
}
.filters-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 90%;
  margin-inline: auto;
  background-color: white;
  padding: 10px 20px 0px;
  border-radius: 5px;
  align-items: center;
  font-size: 14px;
}
#pet-name{
  border: none;
  margin-left: 10px;
  padding-inline: 30px;
  text-align: left;
}
.subs-filter ol{
  display: flex;
  list-style: none;
  gap: 10px;
}
.filter-btn{
  background-color: #E9E9E9;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.filter-btn:hover{
  background-color: cadetblue;
  color: #FFF;
}
.active-button{
  background-color: cadetblue;
  color: #FFF;
}
.active-btn{
  background-color: cadetblue;
  color: #FFF;
}

.subs-box-container{
  display: flex;
  gap: 20px 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}
.SubsBox{
  width: 40%;
  background-color: rgba(255, 255, 255, 0.657);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #969696;
}
.subs-first-row{
  display: flex;
  align-items: center;
}
.subs-first-row img{
  width: 180px;
  height: 180px;
}
.subs-second-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.subs-second-row button{
  background-color: #952322;
  color: #FFF;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}

.subs-details{
  display: flex;
  flex-direction: column;
}

@media (max-width:1024px){
  .filters-container{
    width: 95%;
    padding: 10px 15px 0px;
    flex-wrap: wrap-reverse;
  }
  .filter-btn{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .SubsBox{
    width: 45%;
  }
  .subs-first-row{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 12px;
  }
  .subs-first-row img{
    width: 150px;
    height: 150px;
    margin-top: -30px;
  }
  .subs-second-row h5{
    font-size: 18px;
  }
}
@media (max-width:768px){
  .filter-btn{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  .filters-container{
    justify-content: space-evenly;
    padding: 10px 5px;
  }
  .filters-container ol{
    justify-content: center;
    flex-wrap: wrap;
  }
  .choose-pet-container{
    font-size: 12px;
  }
  .subs-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .SubsBox{
    width: 90%;
  }
}
.badge_width {
  width: 130px;
}